<div class="f-control-bar">
  <div class="f-bar-wrapper">
    <div class="f-control f-menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
        <path fill="#B3778A" fill-rule="evenodd" d="M0 8h14v2H0V8zm0-4h14v2H0V4zm0-4h14v2H0V0z"/>
      </svg>
    </div>
    <div class="f-control-options f-controls">
      <div class="code-toggle" data-f-toggle-control="code" title="Toggle Code">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="11" viewBox="0 0 20 11">
            <path fill="#6E778A" fill-rule="evenodd" d="M13.59 9.108L16.683 5.5 13.59 1.892 15.108.59l4.21 4.91-4.21 4.91-1.518-1.302zM10.915.213l1.872.702-3.702 9.872-1.872-.702L10.915.213zM6.41 1.892L3.317 5.5 6.41 9.108 4.892 10.41.682 5.5 4.893.59 6.41 1.892z"/>
          </svg>
        </i>
        <span class="control-options-text"><span class="subheading-1" data-state="active">Hide Code</span><span class="subheading-1" data-state="inactive">Show Code</span></span>
      </div>
      <div data-f-toggle-control="notes"></div>
    </div>
  </div>
</div>
