{{#if description}}<div class="f-description">
  {{{description}}}
</div>{{/if}}
<div class="f-component-wrapper">
  {{{material @key @root}}}
</div>
<!--{{#if description}}<div class="f-description">
  {{{description}}}
</div>{{/if}}
<div class="f-component-wrapper">
  <div class="f-item-preview">
    {{{material @key @root}}}
  </div>
  {{#if annotationDescription}}<div class="f-s-annotation">
    <div class="s-annotation" data-f-toggle="notes">
      <div class="s-heading">{{{annotationHeading}}}</div>
      <div class="s-body">{{{annotationDescription}}}</div>
    </div>
  </div>{{/if}}
</div>
<div class="f-item-hidden" data-f-toggle="code">
  {{#if notes}}<div class="f-item-notes" >
    {{{notes}}}
  </div>{{/if}}
</div>-->
