//*---------------------------------------*
//  Form Checkbox
//*---------------------------------------*
.custom-control-input {
    &:focus {
        ~ .custom-control-label::before {
            box-shadow: none;
        }
    }
}

.custom-checkbox {
    .checkbox-checkmark {
        cursor: pointer;
        position: absolute;
        left: 0;
        opacity: 0;
        top: .0625rem;
        width: 1.25rem;
        z-index: 1;
    }

    .custom-control-label::before {
        background-color: transparent;
        border: solid .0675rem $silver;
        border-radius: $border-radius-s;
        height: 1.25rem;
        top: .0625rem;
        width: 1.25rem;

        &:focus {
            outline: 0 auto rgba($light-green, 0);
        }
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::after {
            background-image: none;
            border: solid .0675rem $brand-green;
            border-radius: $border-radius-s;
            height: 1.25rem;
            top: .0625rem;
            width: 1.25rem;

            &:focus {
                outline: 0 auto rgba($light-green, 0);
            }
        }

        .checkbox-checkmark {
            opacity: 1;
        }
    }

    label {
        font-weight: $font-weight-normal;
        padding-left: .5rem;
    }
}

.checkbox-dark {
    .custom-control-label::before {
        border-color: $cadet;
    }
}

.checkbox-disabled {
    cursor: default;
    pointer-events: none;

    .custom-control-input:disabled ~ .custom-control-label::before {
        background-color: $off-white;
        border-color: $pale-grey;
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::after {
            background-color: $silver;
            border-color: $silver;
        }
    }
}

.checkbox-dark.checkbox-disabled {
    .checkbox-checkmark path {
        stroke: $ink;
    }
    
    .custom-control-input:not([checked]) ~ .custom-control-label::before {
        background-color: rgba($off-white, .0);
        border-color: rgba($off-white, .2);
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: rgba($off-white, .2);
        border-color: rgba($off-white, .0);
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::after {
            background-color: rgba($off-white, .2);
            border-color: rgba($off-white, .0);
        }
    }
}

.checkbox-error {
    .custom-control-label::before {
        border-color: $red;
    }
    
    .custom-control-input:active ~ .custom-control-label::before {
        background-color: $red;
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::after {
            background-color: $red;
            border-color: $red;
        }
    }
}